<!-- app.component.html -->
<div class="header">
    <h1>Big Chilli Bakery</h1>
  </div>
  
  <nav class="navbar">
    <ul>
      <li><a routerLink="/">Home</a></li> 
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/All-products">All Products</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/feedback">Feedback</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/Add to cart">Add to cart</a></li>

    </ul>
  </nav>
<img src="https://www.thebigchillonline.com/IN/Assets/images/mob-banner-2.webp">  
  
  <main class="content">
    <router-outlet></router-outlet>
  </main>
  
  <footer class="footer">
    <p>&copy; 2024 My Website. All rights reserved.</p>
  </footer>
  '
  '